*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 5%;
    font-family: "Arimo", sans-serif;
}

/* Text Style */
h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
}

h2 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 0;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 0;
}

p {
    font-size: 0.85rem;
    margin-top: 0;
}

p.name {
    margin-top: 0.75rem;
}

div {
    font-size: 0.85rem;
    margin-top: 0;
}

/* Logo */
.logo {
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
}
.logo img {
    margin: auto;
    width: 100%;
}

/* Layout */
header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    padding: 2rem 0;
    margin-bottom: 70px;
}

.content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

aside {
    width: 20%;
    padding-right: 30px;
    text-align: justify;
}
aside p img {
    width: 100%;
    height: auto;
}

section {
    width: 80%;
}

.social {
    position: fixed;
    bottom: 25px;
    right: 1%;
    z-index: 15;
}
.social a {
    margin-left: 1rem;
}
.social a:hover {
    text-decoration: none;
}
.social a i {
    color: black;
}

footer {
    margin-top: 100px;
    margin-bottom: 25px;
}
footer p {
    margin: 0;
}

/* Links */
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

/* Navigation */
nav {
    margin-left: 35px;
}
nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    list-style: none;
    padding: 0;
}
nav ul li {
    width: 25%;
    border-left: 2px solid black;
    font-size: 0.85rem;
}
nav ul li:last-child {
    border-right: 2px solid black;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
nav ul li a:hover {
    text-decoration: none;
}

.btn--nav {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0.5rem 0;
}

/* Mobile Navigation */
#burger {
    display: none;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#burger input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}
#burger span {
    display: block;
    width: 33px;
    height: 6px;
    margin-bottom: 5px;
    background: black;
    border-radius: 3px;
    z-index: 1;
    -webkit-transform-origin: 4px 0px;
    -ms-transform-origin: 4px 0px;
    transform-origin: 4px 0px;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    -o-transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
        -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#burger span:first-child {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

#burger span:nth-child(2) {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}

#burger input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(-45deg) translate(-2px, -1px);
    -ms-transform: rotate(-45deg) translate(-2px, -1px);
    transform: rotate(-45deg) translate(-2px, -1px);
}

#burger input:checked ~ span:nth-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
    -ms-transform: rotate(0deg) scale(0.2, 0.2);
    transform: rotate(0deg) scale(0.2, 0.2);
}

#burger input:checked ~ span:nth-child(2) {
    -webkit-transform: rotate(45deg) translate(0, -1px);
    -ms-transform: rotate(45deg) translate(0, -1px);
    transform: rotate(45deg) translate(0, -1px);
}

#burger--menu {
    display: none;
    -webkit-transition: width 0.5s;
    -o-transition: width 0.5s;
    transition: width 0.5s;
}

#burger input:checked ~ #burger--menu {
    z-index: 9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 35%;
    top: 120px;
    left: 0;
    width: 100vw;
    height: 100%;
    position: absolute;
    background: #fff;
}

#burger--menu ul {
    list-style: none;
    text-align: center;
    padding: 0;
}
#burger--menu li {
    margin-bottom: 1.5rem;
}
#burger--menu li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

/* About Section */
.about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 35px;
}
.about--item {
    width: 50%;
    padding-left: 10px;
    padding-right: 12%;
}
.about--item p img {
    width: 100%;
    height: auto;
}
.about--item div.issuuembed.issuu-isrendered {
    width: 100% !important;
}

/* Projects Section */
.projects--container {
    width: calc(100% - 35px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 35px;
}
.projects--item {
    width: 25%;
    padding: 0 35px 35px 35px;
    margin-bottom: 20px;
    position: relative;
}
.projects--item img {
    width: 100%;
}
.projects--item:hover .projects--item__hover {
    display: block;
}
.projects--item:hover .projects--item__img {
    opacity: 0.3;
}
.projects--item__img {
    max-width: 100%;
    overflow: hidden;
}
.projects--item__img img {
    width: 100%;
    display: block;
}
.projects--item__hover {
    position: absolute;
    display: none;
    width: 100%;
    z-index: 2;
}
.projects--item__hover p.name {
    font-size: 0.85rem;
    margin: 0;
}
.projects--item__hover p.category {
    color: grey;
    font-size: 0.85rem;
    margin: 0;
}
.projects--item img {
    display: block;
    max-width: 100%;
}

/* Single Project */
.project {
    padding-left: 35px;
    width: 60%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.project .preview {
    height: 85%;
    text-align: center;
}
.project .preview img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}
.project .column {
    width: 67%;
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.project .column img {
    width: 100%;
    opacity: 1;
    cursor: pointer;
    margin-bottom: 2rem;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.project .column img:hover {
    opacity: 0.8;
}

/* Store Section */
.store {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 35px;
}
.store--item {
    width: 25%;
    padding: 0 35px;
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.store--item__img {
    overflow: hidden;
    position: relative;
}
.store--item__img:hover .store--item__overlay {
    -webkit-animation: slide 0.5s;
    animation: slide 0.5s;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
}
@-webkit-keyframes slide {
    0% {
        bottom: -80px;
    }
    100% {
        bottom: -40;
    }
}
@keyframes slide {
    0% {
        bottom: -80px;
    }
    100% {
        bottom: -40;
    }
}
.store--item__img img {
    display: block;
    max-width: 100%;
}
.store--item__overlay {
    position: absolute;
    bottom: -40px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: black;
    z-index: 2;
    width: 100%;
}
.store--item__overlay p {
    color: grey;
    margin: 0;
}
.store--item p.price {
    font-size: 0.75rem;
    color: grey;
}
.store--image,
.store--description {
    width: 50%;
}
.store--image img {
    display: block;
    margin: auto;
    max-width: 80%;
}
.store--spec {
    margin-top: 100px;
}
.store--spec__btn {
    border-bottom: 1px solid grey;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    cursor: pointer;
}
.store--spec__btn p {
    margin: 0;
}

.hidden {
    display: none;
}

/* Contact Section */
.contact {
    margin-left: 35px;
    padding-left: 10px;
}

/* Media Queries */
@media all and (max-width: 1024px) {
    .store--item,
    .projects--item {
        width: 33.3333%;
    }
}
@media all and (max-width: 900px) {
    .content {
        display: block;
    }
    .content aside {
        width: 100%;
        padding-right: 0;
    }
    .content section {
        width: 100%;
    }
    .content .about {
        margin-left: 0;
    }
    .content .about--item {
        padding-left: 0;
    }
    .content aside.custom {
        padding-left: calc(20% + 30px);
    }
    .content .project {
        padding-left: 0;
    }
    .content .project .column {
        width: 100%;
        padding-left: calc(20% + 30px);
    }

    .store {
        padding-left: 0;
    }

    .store--item {
        width: 33.3333%;
    }

    .projects--container {
        width: 100%;
        margin-left: 0;
    }

    .projects--item {
        width: 33.3333%;
    }
    .projects--item__img {
        position: unset;
    }

    .store--item__overlay {
        display: none;
    }
}
@media all and (max-width: 700px) {
    .store--image,
    .store--description,
    .about--item {
        width: 100%;
    }

    .projects--item {
        width: 50%;
    }

    .store--item {
        width: 50%;
    }

    .store--description {
        padding: 25px;
    }

    nav ul {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    nav ul li {
        width: 50%;
        margin-top: 20px;
    }
    nav ul li:nth-child(2) {
        border-right: 1px solid black;
    }
}
@media all and (max-width: 500px) {
    .logo img {
        width: 50%;
    }

    nav {
        display: none;
    }

    #burger {
        display: block;
    }

    header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    header aside {
        width: 80%;
    }
    header section {
        width: 20%;
    }

    .store--item {
        width: 100%;
    }

    .projects--item {
        width: 100%;
    }

    .content .project {
        padding-left: 0;
    }
    .content .project .column {
        width: 100%;
        padding-left: 0;
    }
    .content aside.custom {
        padding-left: 0;
    }
}
/*# sourceMappingURL=style.css.map */
